<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h2 class="login-title">Log in</h2>
    
        <form class="login-form" action="/" method="POST">
    
          <div>
            <label for="email">Email </label>
            <input
                   id="email"
                   type="email"
                   placeholder="me@example.com"
                   name="email"
                   required
                   />
          </div>
    
          <div>
            <label for="password">Password </label>
            <input
                   id="password"
                   type="password"
                   placeholder="password"
                   name="password"
                   required
                   />
          </div>
          <div style="color: red">
            <% if ( error && error.length > 0 ) { %>
              <p> <%= error %> </p>
            <% } %>
          </div>
          <button class="btn btn--form" type="submit" value="Log in">
            Log in
          </button>
        </form>
    </div>
  </body>
</html>
